.faq-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: (--cart-bg);
  }
  .faq-tabs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
  }
  .faq-tab {
    flex: 1;
    padding: 20px;
    border: none;
    background-color:var(--dark-transparent-3);;
    color: var(--primary-text);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .faq-tab svg {
    font-size: 24px;
  }
  .faq-tab.active {
    background-color:var(--selected-tab);
    color: black;
  }
  .faq-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .faq-question-block {
    border: 1px solid var(--primary-text);
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 4px;
   
  }
  .faq-question-block details summary {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
  }
  .faq-question-block p {
    margin-top: 10px;
    color:var(--primary-text);
  }