.profile-dropdown {
    position: absolute; 
    top: 80px; 
    right: 5px; 
    background-color: var(--nav-bg);
    border: .5px solid var(--search-border-bottom);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 15px 10px;
    width: 220px;
    z-index: 999;
    overflow: hidden;
  }

  .profile-settings, .profile-account{
    border-bottom: 1.5px solid #cdcdcd;
    padding-top: 10px;
    padding-bottom: 10px;
  }
   
  .sign-in{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Glory', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--primary-color-1);
  }

  .log-out, .sign-in{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-family: 'Glory', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--primary-color-1);
    cursor: pointer;
  }
  

  .admin-panel{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Glory', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--primary-color-1);
  }

  @media (max-width: 480px) {
    .profile-dropdown{
      top:60px;
    }
  }

  @media (max-width: 768px) {
    .profile-dropdown{
      top:60px;
    }
  }
  
  