.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
    overflow: hidden;
    background-color: var(--home-bg);
  }
  .layout-main {
    flex: 1;
    padding: 0;       
    overflow-x: hidden; 

  }
  