.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* koristi minimum visinu */
  }
  
  .layout-main {
    flex: 1;
    padding: 100px 20px 60px; /* donji padding sad može biti manji */
  }