.account-section {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    margin-bottom: 10px;

    
  }

  .section-title{
    color: #282828;
    font-family: Glory, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 20px 10px;
    text-transform: uppercase;
  }
  
  
  
  .account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  }
  
  .account-name {
    font-family: Glory, sans-serif;
    color:#282828;
    padding-bottom: 10px;
   
  }
  
  .account-email {
    font-size: 14px;
    color: #666;
    font-weight: normal; 
  
  }
