
.shop-container {
    background-color: var(--cart-bg);
  }
  
  .main-container {
    display: flex;
    gap: 20px;
    padding: 70px 70px 0 70px;
    background-color: var(--cart-bg);
    height: calc(100% + 200px);
    height: fit-content;
    min-height: calc(100vh + 50px);
    overflow: auto;
  }
  
  .shop-box{
    height: auto;
    margin-left: 10px;
    width: auto;
   
  }
 
  .shop-title {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid var(--logo-purple);
  }
  
  .shop-title p {
    color: var(--primary-color-1);
    font-family: Glory, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 0 10px;
    padding-bottom: 10px;
  }
  
  .shop-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    min-height: 300px; 
  }
 
  .selected-filters {
    margin-top: 20px;
  }
  
  .loader-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  align-items: center;
  border-radius: 50%;
  color: var(--logo-purple);
  cursor: pointer;
  display: flex;
  font-family: Glory, sans-serif;
  font-weight: 600;
  height: 25px;
  width: 25px;
  justify-content: center;
  
}

.pagination .active a {
  background-color: var(--shop-paginate-active-button);
  color: var(--logo-purple);
}

.pagination .arrow {
  font-size: 20px;
  background-color: transparent; 
  border-radius: 0; 
}

.no-results-message {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  padding: 40px 40px 40px 100px;
}

.no-results-message h4{
  color: var(--primary-text);
    font-family: Glory, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
