
.signin-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  

  .signin-main {
    background-color: var(--primary-color);
    border-radius: 0 20px 0 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .2);
    height: auto;
    padding: 10px 50px 30px;
    width: 300px;
  }

  .signin-img {
    height: 100%;
    width: 100%;
  }
  

  .signin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .signin-form input {
    background-color: var(--auth-input);
    border: 1px solid var(--auth-input-border);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--logo-purple);
    height: 30px;
    padding: 0 10px;
    width: 100%;

  }
  
  .user-name{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:5px;
  }

  .user-name input{
    background-color: var(--auth-input);
    border: 1px solid var(--auth-input-border);
    border-radius: 5px;
    color: var(--logo-purple);
    height: 30px;
    padding: 0 10px;
    width: 100%;
  }

  button {
    background-color: var(--logo-purple);
    border: none;
    border-radius: 5px;
    color: var(--white);
    height: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
  
 
  .login-info {
    display: flex;
    justify-content: space-between;
  }
  
  .login-info a {
    color: var(--logo-purple);
    text-decoration: none;
  }
  
  .password-container, .confirm-password-container {
    position: relative; 
    width: 100%; 
  }
  
  .password {
    width: 100%;
    padding-right: 30px; 
  }
  
  .show-password {
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer; 
  }
  
  
  