.category-cards {
  display: flex;
  margin: 50px;
  padding: 0 70px;
}

.category-card {
  width: 33%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); 
  z-index: 1;
}

.category-card:hover::before {
  opacity: 0;
}

.category-label {
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  position: relative;
}

.category-card:hover .category-label {
  opacity: 1;
}


  .women {
    background-image: url("/public/images/women.webp");
  }
  
  .men {
    background-image: url("/public/images/men.webp");
  }
  
  .kids {
    background-image: url("/public/images/children.webp");
  }
  