
  #language-select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 95%;
    border-radius: 4px;
    font-family: Glory, sans-serif;
  }
 
  