
.product_add_item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}


.add_product_button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  color: #282828;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.add_product_button:hover {
  background-color: #f0f0f0;
}

.products_searchBar {
  height: 40px;
  width: 15%;
  padding: 8px;
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  font-size: 16px;
}
  
  .product_table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px; 
  }
    
  .product_table th,
  .product_table td {
    padding: 12px 16px;
    border: 1px solid #fff;
    text-align: left;
  }
    

  .btn-options{
    background-color:  #2e7d2e;
    color: #fff;
  }
  .btn-options {
    margin-right: 8px; 
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
  }
    
  .btn-options.delete {
    background-color: #d10f0f;
  }

  .product-actions {
    display: flex;
    gap: 8px; 
  }
  
