.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titletwo{
    font-size: 60px;
    font-family:Train one, cursive;
    
    
}
.span{
 font-size: 20px;
}